<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://tools.android.com/tools">

    <!-- Permissão para Android 13+ (API 33+) para ler arquivos de áudio -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Permissão de leitura para Android 12L ou inferior (API 32-) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Permissão obrigatória caso você utilize a API nativa do Visualizer do Android -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Permissão para manter a execução em segundo plano (se criar um Foreground Service no futuro) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="JS HiFi Player"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JSHiFiPlayer"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="JS HiFi Player"
            android:theme="@style/Theme.JSHiFiPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
